<ng-container *ngIf="(rapper$ | async) as rapper">
  <ng-container *ngIf="question$ | async as question">
  <body>
    <div class="container">
      <div>
        <button class="btn flash-button">{{rapper.nickname}}</button>
        <h1>{{question.questionText}}</h1>
      </div>
      <div>
        <!--<button class="btn flash-button">{{rapper.name}}</button> -->
        <input type="text" id="maBoiteDeSaisie" placeholder="Saisissez votre réponse">
        <button id="validerButton">Valider</button>
      </div>
    </div>
  </body>
  </ng-container>
</ng-container>
