<ng-container *ngIf="(rapper$ | async) as rapper">
  <body>
    <div class="container">
      <div>
        <button class="btn flash-button">{{rapper.nickname}}</button>
        <h1>Devine quel est le rappeur caché sous ce surnom</h1>
      </div>
      <form [formGroup]="rapperNameForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="rapperNameInput">Question Text:</label>
          <input type="text" id="rapperNameInput" placeholder="Saisissez votre réponse" formControlName="rapperNameInput">
          <button type="submit" [disabled]="rapperNameForm.invalid">Réponse</button>
        </div>
      </form>

    </div>
  </body>
</ng-container>
