body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Modifier la direction en colonne pour empiler les conteneurs */
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto; /* Déplace le conteneur en bas de la page */
}

.flash-button {
  @keyframes flash {
    0% {
      background-color: #FF0000;
    }
    50% {
      background-color: #FF4500;
    }
    100% {
      background-color: #FF0000;
    }
  }

  animation: flash 2s infinite; /* Effet de flash rouge sur le bouton */
  font-size: 4rem;
}
